body {
    margin: 0;
    padding: 0;
    background-color: #EDECEA;
}

/* 版心 */
.container {
    width: 1190px;
    margin: 0 auto;
}

/*阿里图标库*/
.icon {
    width: 2em;
    height: 2em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}


/*顶部导航div*/
.topbar-nav {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*菜单字体*/
.n-menu-item {
    font-size: 16px;
    font-weight: bold;
}

.topbar-message {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 1170px;
    padding: 10px;
    font-size: 18px;
    background-color: #F7F7F5;
    border-radius: 15px;
    font-weight: bold;
}

.topbar-banner {
    padding: 10px;
    width: 1170px;
    height: 280px;
    border-radius: 15px;
    box-shadow: 0 0 10px;
    background-image: url('./assets/images/banner.png');
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.main-category {
    width: 905px;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F7F7F5;
}

.n-button {
    border-radius: 10px;
    margin-right: 10px;
}

.main-article {
    width: 280px;
    margin-top: 10px;
    border-radius:  2em;
    background-color: #F1E5D9;
    padding: 10px;
}

.articlebg {
    background-image: url('./assets/images/default-cover.jpg');
    height: 160px;
}
.article-other{
    background-color: #F1E5D9;
}
.article-title {
    height: 30px;
    padding-top: 60px;
    font-size: large;
    font-weight: bold;
    /*background-color: aqua;*/
}

.article-abstract {
    /*background-color: antiquewhite;*/
    height: 120px;
    padding-left: 20px;
}

.article-publish {
    padding-left: 140px;
    height: 30px;
    /*background-color: beige;*/
}


.main-page {
    width: 905px;
    height: 32px;
    padding: 10px;
    margin-top: 20px;
    font-weight: bold;
    /*background-color: yellowgreen;*/
}

.container-left {
    width: 925px;
    /*background-color: aqua;*/
}

.container-right {
    width: 245px;
    height: 1182px;
    /*background-color: aqua;*/
}

.author-info {
    padding: 20px;
}

.container-author-info {
    margin-top: 10px;
    border-radius: 15px;
    background-color: #F7F7F5;
}

.main-article-count {
    height: 290px;
    width: 225px;
    margin-top: 20px;
    padding: 10px;
    background-color: #F7F7F5;
    border-radius: 15px;
}

.count-article {
    width: 86px;
    /*margin-top: 0px;*/
    border-radius: 10px;
    font-weight: bold;
    background-color:  #F7F7F5;
    padding: 10px;
}

.main-article-tag {
    height: 330px;
    width: 225px;
    margin-top: 20px;
    padding-top: 30px;
    padding-right: 20px;
    background-color: #F7F7F5;
    border-radius: 15px;
}
.n-badge .n-badge-sup{
    --n-color:#D3C2A8;
}

.main-site-count {
    margin-top: 20px;
    height: 90px;
    width: 205px;
    /*padding: 10px;*/
    background-color: #F7F7F5;
    border-radius: 15px;
}

.footer {
    margin-top: 70px;
    /*height: 200px;*/
    width: 900px;
    /*background-color: #b54a4a;*/
}

.footer-group {
    /*margin-top: 130px;*/
    height: 180px;
    /*background-color: yellow;*/
}
.shields{
    /*background-color: #467c6a;*/
    margin: 10px;
    /*padding: 20px;*/
}